<% include partials/header %>

<h1>Hello: <%= name.toUpperCase() %> </h1>
<% if(name.toLowerCase() === "mateusz"){ %>
<p>You are admin</p>
<% } else { %>
<p>You are guest</p>
<% } %>

<% include partials/footer %>