<% include partials/header %>

<% if(typeof posts !== 'undefined') { %>

    <h2>Posts:</h2>

    <% posts.forEach(function(post) { %>

        <p><%= post.name %></p>

    <% }); %>

<% } else { %>

    <h2>There are no posts!</h2>

<% } %>

    <h3>Add post:</h3>

    <form action="/add-post" method="POST">
        <label for="post_name">Post name:</label>
        <input type="text" name="post_name" id="post_name">
        <button type="submit">Add post</button>
    </form>

<% include partials/header %>